<div class="footer p-0 pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-12 offset-md-1 py-2 px-3">
                <img src="/assets/img/logo.png" alt="logo" ng-fallimg="logo" class="w-50">
                <div class="divider-personalized py-2"></div>
                <div class="social py-2">
                    <p>Síguenos</p>
                    <a href="#!" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/icons/icon_instagram.png" alt="Instagram" ng-fallimg="icon_instagram" class="">
                    </a>
                    <a href="#!" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/icons/icon_youtube.png" alt="Youtube" ng-fallimg="icon_youtube" class="">
                    </a>
                    <a href="#!" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/icons/icon_twitter.png" alt="Twitter" ng-fallimg="icon_twitter" class="">
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <h3 class="mt-2 mb-3">Cuidado Facial</h3>
                <p>Acné</p>
                <p>Antiedad</p>
                <p>Calmantes</p>
            </div>
            <div class="col-md-2 col-sm-12">
                <h3 class="mt-2 mb-3">Cuidado Corporal</h3>
                <p>Limpiadores</p>
                <p>Antimanchas</p>
                <p>Celulitis</p>
            </div>
            <div class="col-md-3 col-sm-12">
                <h3 class="mt-2 mb-3">Contáctanos</h3>
                <p><img src="/assets/icons/icon_geo.png" alt="Ubicación" ng-fallimg="icon_geo" class=""> Cll 100 No. 7-80, Bogotá</p>
                <p><img src="/assets/icons/icon_email.png" alt="Contacto" ng-fallimg="icon_email" class=""> tiendavirtual@skincare.com</p>
            </div>
        </div>
    </div>
</div>
<div class="coptright p-2 container-fluid text-center">
    SkinCare Corp | Powered by Diana-Juan-Diego 2021 | Todos los derechos reservados
</div>
