@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.slider-section h4 {
    color: #222222;
    font-family: 'Poppins',sans-serif;
    font-size: 1.5em;
    line-height: 1;
}

.slider-section h2 {
    font-family: 'Poppins',sans-serif;
    color: #19527C;
    font-size: 2.5em;
    line-height: 1;
}

.divider-large {
    border: 2px solid transparent;
    border-image: url('/assets/img/border_large.png') 100;
}